@*<section class="testimonials">*@
<style type="text/css">
    .form-control {
        width:30em;
    }
</style>

    <div>
        <div>
            <div class="col-md-12">
                <div ng-controller="CalculatorController">
                    <h1 translate="calculatePrice"></h1>
                    <h3 translate="travelInsurance" class="topBottomMargin"></h3>
                    <br />
                    <form name="form">
                        <label translate="duration"></label>
                        <div>
                            <input ng-readonly="true" type="text" class="form-control" uib-datepicker-popup ng-model="event.startDate"
                                   is-open="sd.opened" datepicker-options="dateOptions" close-text="Zatvori"
                                   current-text="Danas" clear-text="Obriši" />
                            <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-default" ng-click="openSd()">Otvori kalendar</button>
                        </div>
                        <br />
                        <label translate="region"></label>
                        <select class="form-control" name ="region" required ng-model="Insurance.Region">
                            <option ng-repeat="r in regions" value="{{r.Id}}">{{r.Name}}</option>
                        </select><br />
                        <div ng-show="form.region.$touched">
                            <span  style="color:red; display: block" translate="errReg"></span>
                        </div>
                        <label translate="number"></label> 
                        @*promenjen type u number*@
                        <input class="form-control" type="number" name="number" required min="1" ng-model="Insurance.NumberOfInsurants" /><br />
                        <div ng-show="form.number.$touched">
                            <span ng-show="form.number.$error.required" style="color:red; display: block" translate="errNumReq"></span>
                            <span ng-show="form.number.$error.min" style="color:red; display: block" translate="errNumMin"></span>
                        </div>
                        <label translate="age"></label>
                        <select class="form-control" name="age" ng-model="Insurance.Age" required">
                            <option ng-repeat="a in ages" value="{{a.Id}}">{{a.Name}}</option>
                        </select><br />
                        <div ng-show="form.age.$touched">
                            <span ng-show="form.age.$error.required" style="color:red; display: block" translate="errAge"></span>
                        </div>
                        <label translate="sport">?</label>
                        <input type="checkbox" ng-model="isChecked" /><br />
                        <select class="form-control" name = "sport"ng-show="isChecked" required ng-model="Insurance.Sport">
                            <option ng-repeat="s in sports" value="{{s.Id}}">{{s.Name}}</option>
                        </select><br />
                        <div ng-show="form.sport.$touched">
                            <span ng-show="form.sport.$error.required" style="color:red; display: block" translate="errSport"></span>
                        </div>
                        <label translate="value"></label>
                        <select class="form-control" name="value" ng-model="Insurance.InsuredValue">
                            <option ng-repeat="v in values" value="{{v.Id}}">{{v.Name}}</option>
                        </select>
                        <div ng-show="form.value.$touched">
                            <span ng-show="form.value.$error.required" style="color:red; display: block" translate="errValue"></span>
                        </div>
                    </form>
                    <div class="topBottomMargin">
                        <button translate="calc" class="btn btn-default" ng-click="calculate()"></button>
                    </div>
                    <div ng-if="price != 0.0">
                        <h3 translate="total">: {{price}} </h3> 
                        @*ovde valutu treba vuci iz baze (u zavisnosti od toga da li je srpski ili engleski)*@
                    </div>
                </div>
                </div>
            </div>
        </div>
@*</section>*@
