<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div ng-controller="CalculatorController">
                    <h1 translate="calculatePrice"></h1>
                    <h3 translate="travelInsurance" class="topBottomMargin"></h3>
                    <br />
                    <form class="form-group">
                        @*<div class="form-group" ng-repeat="r in travelRisks">
                                <label>{{r.Name}}</label>
                                <input ng-if='r.DataType == "string"' class="form-control" id="r.Id" type="text" />
                                <select ng-if='r.DataType == "list"' id="r.Id" ng-repeat="ri in travelRiskItems">
                                    <option value="ri.Id">{{ri.Name}}</option>
                                </select>
                            </div>*@
                        <label translate="duration"></label>
                        <input class="form-control" type="text" ng-model="Insurance.Duration" /><br />
                        <label translate="region"></label>
                        <select class="form-control" ng-model="Insurance.Region">
                            <option ng-repeat="r in regions" value="{{r.Id}}">{{r.Name}}</option>
                        </select><br />
                        <label translate="number"></label>
                        <input class="form-control" type="text" ng-model="Insurance.NumberOfInsurants" /><br />
                        <label translate="age"></label>
                        <select class="form-control" ng-model="Insurance.Age">
                            <option ng-repeat="a in ages" value="{{a.Id}}">{{a.Name}}</option>
                        </select><br />
                        <label translate="sport">?</label>
                        <input type="checkbox" ng-model="isChecked" /><br />
                        <select class="form-control" ng-show="isChecked" ng-model="Insurance.Sport">
                            <option ng-repeat="s in sports" value="{{s.Id}}">{{s.Name}}</option>
                        </select><br />
                        <label translate="value"></label>
                        <select class="form-control" ng-model="Insurance.InsuredValue">
                            <option ng-repeat="v in values" value="{{v.Id}}">{{v.Name}}</option>
                        </select>
                    </form>
                    <div class="topBottomMargin">
                        <button translate="calc" class="btn btn-default" ng-click="calculate()"></button>
                    </div>
                    <div>
                        <h3 translate="total">: {{price}} euros</h3>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>
