<div ng-controller="CalculatorController">
    <h1>Calculate the price of your insurance.</h1>

    <h5>Travel insurance</h5>
    <form>
        @*<div class="form-group" ng-repeat="r in travelRisks">
            <label>{{r.Name}}</label>
            <input ng-if='r.DataType == "string"' class="form-control" id="r.Id" type="text" />
            <select ng-if='r.DataType == "list"' id="r.Id" ng-repeat="ri in travelRiskItems">
                <option value="ri.Id">{{ri.Name}}</option>
            </select>
        </div>*@
        <label>Insurance duration</label>
        <input type="text"/>
        <label>Region</label>
        <select ng-repeat="r in regions">
            <option value="r.Id">{{r.Name}}</option>
        </select>
        <label>Number of persons</label>
        <input type="text" />
        <label>Age</label>
        <select ng-repeat="a in ages">
            <option value="a.Id">{{a.Name}}</option>
        </select>
        <label>Sport?</label>
        <input type="checkbox" />
                @*if checked
            <select ng-repeat="s in sports">
            <option value="s.Id">{{s.Name}}</option>
        </select>
                *@
        <label>Insurance value</label>
        <select ng-repeat="v in values">
            <option value="v.Id">{{v.Name}}</option>
        </select>
    </form>
</div>
