@*<section class="testimonials">*@
<style type="text/css">
    .form-control {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    }
</style>

        <div>
            <div class="col-md-12">
                <div ng-controller="CalculatorController">
                    <h1 translate="calculatePrice"></h1>
                    <h3 translate="travelInsurance" class="topBottomMargin"></h3>
                    <br />
                    <form name="form"  novalidate>
                        <label translate="duration"></label>
                        <div>
                            <input ng-readonly="true" type="text" class="form-control" uib-datepicker-popup ng-model="event.startDate"
                                   is-open="sd.opened" datepicker-options="dateOptions" close-text="Zatvori"
                                   current-text="Danas" clear-text="Obriši" />
                            <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-default" ng-click="openSd()" translate="openCal"></button>
                        </div>
                        <br />

                        <label translate="region"></label>
                        <select class="form-control" name="region" required="required" ng-model="Insurance.Region" ng-options="r.Id as r.Name for r in regions">
                            <option value="" ng-selected="selected" translate="selReg"></option>
                        </select><br /> 
                            <span ng-show="form.region.$error.required" style="color:red; display: block" translate="errReg"></span>
                        
                        <label translate="number"></label>
                        @*promenjen type u number*@
                        <input class="form-control" type="number" name="number" required min="1" ng-model="Insurance.NumberOfInsurants" /><br />
                        <div ng-show="form.number.$touched">
                            <span ng-show="form.number.$error.required" style="color:red; display: block" translate="errNumReq"></span>
                            <span ng-show="form.number.$error.min" style="color:red; display: block" translate="errNumMin"></span>
                        </div>
                        
                        <label translate="age"></label>
                        <select class="form-control" name="age" ng-model="Insurance.Age" required" ng-options="a.Id as a.Name for a in ages">
                            <option ng-selected="selected" translate="selAge"></option>
                        </select><br />
                            <span ng-show="form.age.$error.required" style="color:red; display: block" translate="errAge"></span>
                        
                        <label translate="sport">?</label>
                        <input type="checkbox" ng-model="isChecked" /><br />
                        
                        <select class="form-control" name="sport" ng-show="isChecked" required ng-model="Insurance.Sport" ng-options="s.Id as s.Name for s in sports">
                            <option value="" ng-selected="selected" translate="selSport"></option>
                        </select><br />
                            <span ng-show="form.sport.$error.required" style="color:red; display: block" translate="errSport"></span>          
                        
                        <label translate="value"></label>
                        <select class="form-control" name="value" ng-model="Insurance.InsuredValue" ng-options="v.Id as v.Name for v in values">   
                            <option value="" ng-selected="selected" translate="selValue"></option>
                        </select><br /> 
                            <span ng-show="form.value.$error.required" style="color:red; display: block" translate="errValue"></span>
                        
                        <button class="btn" ng-disabled="showVehicleForm && showHomeForm && showAnotherInsurance" ng-click="chooseAnother()" translate="chooseAnother"></button>

                        <div class="topBottomMargin" ng-if="showAnotherInsurance">
                            <button class="btn btn-default" ng-repeat="c in categories" ng-click="showInsuranceByCategory(c.Name)">{{c.Name}}</button>
                            <button class="btn" ng-click="cancelOther()" translate="cancel"></button>
                        </div>
                        <br />
                        <div ng-if="showHomeForm">
                            <label translate="homeArea"></label>
                            <input class="form-control" type="number" name="area" required min="1" ng-model="HomeInsurance.Area" /><br />
                            <div ng-show="form.area.$touched">
                                <span ng-show="form.area.$error.required" style="color:red; display: block" translate="errHomeArea"></span>
                                <span ng-show="form.area.$error.min" style="color:red; display: block" translate="errHomeArea"></span>
                            </div>

                            <label translate="homeAge"></label>
                            <input class="form-control" type="number" name="age" required min="1" ng-model="HomeInsurance.Age" /><br />
                            <div ng-show="form.area.$touched">
                                <span ng-show="form.age.$error.required" style="color:red; display: block" translate="errHomeAge"></span>
                                <span ng-show="form.age.$error.min" style="color:red; display: block" translate="errHomeAge"></span>
                            </div>

                            <label translate="homeValue"></label>
                            <input class="form-control" type="number" name="homeValue" required min="1" ng-model="HomeInsurance.Value" /><br />
                            <div ng-show="form.area.$touched">
                                <span ng-show="form.homeValue.$error.required" style="color:red; display: block" translate="errHomeValue"></span>
                                <span ng-show="form.homeValue.$error.min" style="color:red; display: block" translate="errHomeValue"></span>
                            </div>
                            @*dobaviti listu ensuredBy*@
                            <label translate="ensuredBy"></label>
                            <select class="form-control" name="ensuredBy" ng-model="HomeInsurance.InsuredBy" ng-options="e.Id as e.Name for e in ensuredBy">
                                <option value="" ng-selected="selected" translate="selEnsured"></option>
                            </select><br />
                            <span ng-show="form.ensuredBy.$error.required" style="color:red; display: block" translate="errEnsured"></span>

                         </div>
                        <br />
                        <div ng-if="showVehicleForm">
                        <label translate="packageV"></label>
                        </div>
                        <div class="topBottomMargin">
                            <button translate="calc" class="btn btn-default" ng-click="calculate()"></button>
                        </div>
                        <div ng-if="price != 0.0">
                            <h3 translate="total">: {{price}} </h3>
                            @*ovde valutu treba vuci iz baze (u zavisnosti od toga da li je srpski ili engleski)*@
                        </div>
                        
                        <a class="btn btn-default" translate="next" ui-sref="insurants({numOfInsurants: Insurance.NumberOfInsurants})">
                            @*<button type="submit"  class="btn btn-default" translate="next"></button>*@
                        </a>
                    </form>
                </div>
            </div>
        </div>
@*</section>*@
