@{
    Layout = null;
}

<style type="text/css">
    .form-control {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    }
</style>
        <div ng-controller="CalculatorController">
            <div style="background-color:red">
                dsds
            </div>
            <div class="col-md-12">
                <div>
                    <h1 translate="calculatePrice"></h1>
                    <h3 translate="travelInsurance" class="topBottomMargin"></h3>
                    <br />
                    <form name="form"  novalidate>

                        <label translate="duration"></label>
                        <br/>
                        <label translate="startDate"></label>
                        <div>
                            <input ng-readonly="true" type="text" class="form-control" uib-datepicker-popup ng-model="Insurance.StartDate"
                                   is-open="sd.opened" datepicker-options="dateOptions" />
                            <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-default" ng-click="openSd()" translate="openCal"></button>
                        </div>
                        <label translate="endDate"></label>
                        <div>
                            <input ng-readonly="true" type="text" class="form-control" uib-datepicker-popup ng-model="Insurance.EndDate"
                                   is-open="ed.opened" datepicker-options="dateOptions" />
                            <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-default" ng-click="openEd()" translate="openCal"></button>
                        </div>
                        <br />

                        <label translate="region"></label>
                        <select class="form-control" name="region" required="required" ng-model="Insurance.Region" ng-options="r.Id as r.Name | translate for r in regions">
                            <option value="" ng-selected="selected" translate="selReg"></option>
                        </select><br /> 
                            <span ng-show="form.region.$error.required" style="color:red; display: block" translate="errReg"></span>
                        
                        <label translate="number"></label>
                        @*promenjen type u number*@
                        <input class="form-control" type="number" name="number" required min="1" ng-model="Insurance.NumberOfInsurants" /><br />
                        <div ng-show="form.number.$touched">
                            <span ng-show="form.number.$error.required" style="color:red; display: block" translate="errNumReq"></span>
                            <span ng-show="form.number.$error.min" style="color:red; display: block" translate="errNumMin"></span>
                        </div>
                        
                        <label translate="age"></label>
                        <select class="form-control" name="age" ng-model="Insurance.Age" required" ng-options="a.Id as a.Name for a in ages">
                            <option ng-selected="selected" translate="selAge"></option>
                        </select><br />
                            <span ng-show="form.age.$error.required" style="color:red; display: block" translate="errAge"></span>
                        
                        <label translate="sport">?</label>
                        <input type="checkbox" ng-model="isChecked" /><br />
                        
                        <select class="form-control" name="sport" ng-show="isChecked" required ng-model="Insurance.Sport" ng-options="s.Id as s.Name for s in sports">
                            <option value="" ng-selected="selected" translate="selSport"></option>
                        </select><br />
                            <span ng-show="form.sport.$error.required" style="color:red; display: block" translate="errSport"></span>          
                        
                        <label translate="value"></label>
                        <select class="form-control" name="value" ng-model="Insurance.InsuredValue" ng-options="v.Id as v.Name for v in values">   
                            <option value="" ng-selected="selected" translate="selValue"></option>
                        </select><br /> 
                            <span ng-show="form.value.$error.required" style="color:red; display: block" translate="errValue"></span>
                        
                        <button class="btn" ng-disabled="showVehicleForm && showHomeForm && showAnotherInsurance" ng-click="chooseAnother()" translate="chooseAnother"></button>

                        <div class="topBottomMargin" ng-if="showAnotherInsurance">
                            <button class="btn btn-default" ng-repeat="c in categories" ng-click="showInsuranceByCategory(c.Name)">{{c.Name}}</button>
                            <button class="btn" ng-click="cancelOther()" translate="cancel"></button>
                        </div>
                        <br />

                        <div class="topBottomMargin">
                            <button translate="calc" class="btn btn-default" ng-click="calculate()"></button>
                        </div>
                        <div ng-if="price != 0.0">
                            <h3 translate="total">: {{price}} @*<span translate="currency"></span>*@</h3>
                            @*ovde valutu treba vuci iz baze (u zavisnosti od toga da li je srpski ili engleski)*@
                        </div>
                        
                        <a class="btn btn-default" translate="next" ui-sref="otherInsurances">
                        </a>
                    </form>
                </div>
            </div>
        </div>