@{
    Layout = null;
}



<div align="center" class="jumbotron" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../Content/images/travelwallpaper.jpeg); min-height:60em;background-size:cover; color:white">
    <h1 align="center" translate="welcome"></h1>
    <h1>CareTravel</h1>
    <p translate="welcomeText"></p>
    <p translate="welcomeText2"></p>
    <p><a class="btn btn-primary btn-lg" ui-sref="terms" translate="startNow"></a></p>
    @*<div class="container">
        <h1>CareTravel</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="terms" translate="startNow"></a></p>
        <p><a class="btn btn-primary btn-lg" ui-sref="payment">Test payment</a></p>
    </div>*@
</div>