
@{
    ViewBag.Title = "Welcome to the Insurance Company's Website";
}

@*<h2>@ViewBag.Title</h2>*@
<div ng-controller="HomeController" style="margin-top:5em;">
    <div class="home">
    </div>
</div>
<div ui-view></div>