@{
    Layout = null;
}

@*<div class="row">
    <div class="col-lg-6">
        <div class="alert alert-dismissible alert-danger" ng-if="purchaseStep3 != 3">
            <span translate="errCompleteStep"></span>
        </div>
    </div>
</div>*@

<div class="row" @*ng-if="purchaseStep3 == 3"*@>
    <h1 translate="insurantsDetails"></h1>

    <div ng-if="insurantsCounter != 0">
        <ul ng-repeat="i in addedInsurants">
            <li>{{i.Name}} {{i.Surname}} <button ng-click="deleteInsurant(i, $index)" translate="deleteInsurant"></button></li>
        </ul>
    </div>

    <div ng-if="insurantsCounter != 0 && insurantsCounter == Insurance.NumberOfInsurants">
        <p class="alert alert-info" translate="noMoreInsurants"></p>
        <button class="btn btn-success" ng-click="addBuyer()" translate="proceed"></button>
    </div>

    <p class="alert alert-info" ng-if="insurantsCounter == 0" translate="noInsurants"></p>

    <p class="alert alert-info" ng-show="insurantsCounter != 0 && insurantsCounter == Insurance.NumberOfInsurants" translate="noMoreInsurants"></p>

    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-hide="insurantsCounter == Insurance.NumberOfInsurants" ng-if="!showInsForm" ng-click="showInsurantForm()" translate="addInsurant"></button>
            <div ng-if="showInsForm">
                <form name="insurantForm" class="form-horizontal">
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.name.$invalid && insurantForm.name.$touched}">
                            <label for="name" class="col-lg-2 control-label" translate="name"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="name" id="name" ng-model="CurrentInsurant.Name" required="required">
                                <div ng-show="insurantForm.name.$touched && insurantForm.name.$error.required">
                                    <span class="text-danger" translate="errName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.surname.$invalid && insurantForm.surname.$touched}">
                            <label for="surname" class="col-lg-2 control-label" translate="surname"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="surname" id="surname" ng-model="CurrentInsurant.Surname" required="required">
                                <div ng-show="insurantForm.surname.$touched && insurantForm.surname.$error.required">
                                    <span class="text-danger" translate="errSurname"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.jmbg.$invalid && insurantForm.jmbg.$touched}">
                            <label for="jmbg" class="col-lg-2 control-label" translate="jmbg"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="number" name="jmbg" id="jmbg" ng-model="CurrentInsurant.IdentificationNumber" minlength="13" maxlength="13" required="required">
                                <div ng-show="insurantForm.jmbg.$touched">
                                    <span class="text-danger" ng-show="insurantForm.jmbg.$error.required" translate="errJmbg"></span>
                                    <span class="text-danger" ng-show="insurantForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                                    <span class="text-danger" ng-show="insurantForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.passport.$invalid && insurantForm.passport.$touched}">
                            <label for="passport" class="col-lg-2 control-label" translate="passport"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="passport" id="passport" ng-model="CurrentInsurant.PassportNumber" ng-pattern="passportNumberPattern" required="required">
                                <div ng-show="insurantForm.passport.$touched">
                                    <span class="text-danger" ng-show="insurantForm.passport.$error.required" translate="errPassport"></span>
                                    <span class="text-danger" ng-show="insurantForm.passport.$error.pattern" translate="errPassportPattern"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.address.$invalid && insurantForm.address.$touched}">
                            <label for="address" class="col-lg-2 control-label" translate="address"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="address" id="address" ng-model="CurrentInsurant.Address" required="required">
                                <span class="text-danger" ng-show="insurantForm.address.$touched && insurantForm.address.$error.required" translate="errAddress"></span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': insurantForm.telNumber.$invalid && insurantForm.telNumber.$touched}">
                            <label for="telNumber" class="col-lg-2 control-label" translate="telNumber"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="telNumber" id="telNumber" ng-model="CurrentInsurant.TelephoneNumber" required="required">
                                <span class="text-danger" ng-show="insurantForm.telNumber.$touched && insurantForm.telNumber.$error.required" translate="errTelNum"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" translate="isBuyer">?</label>
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="CurrentInsurant.IsBuyer" ng-disabled="buyerExists" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="CurrentInsurant.IsBuyer" class="form-group" ng-class="{ 'has-error': insurantForm.email.$invalid && insurantForm.email.$touched}">
                            <label for="email" class="col-lg-2 control-label" translate="email"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="email" name="email" id="email" ng-model="CurrentInsurant.Email" required="required">
                                <span class="text-danger" ng-show="insurantForm.email.$touched && insurantForm.email.$error.required" translate="errEmail"></span>
                                <span class="text-danger" ng-show="insurantForm.email.$error.email" translate="errEmailValidate"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primery" ng-click="addInsurant()" ng-disabled="insurantForm.$invalid" translate="add"></button>
                                <button class="btn btn-default" ng-click="cancelInsurant()" translate="cancel"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" ng-click="addInsurant()" ng-disabled="insurantForm.$invalid" translate="add"></button>
                                <button class="btn btn-default" ng-click="cancelInsurant()" translate="cancel"></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>