@{
    Layout = null;
}

<div ng-if="areTermsAccepted">
    <h1>Who do you wish to insure?</h1>

    <div ng-if="insurantsCounter != 0">
        <ul ng-repeat="i in addedInsurants">
            <li>{{i.Name}} {{i.Surname}} <button ng-click="deleteInsurant($index)">X</button></li>
        </ul>
    </div>

    <p class="alert alert-info" ng-if="insurantsCounter == 0" translate="noInsurants"></p>

    <div>
        <button ng-disabled="insurantsCounter == Insurance.NumberOfInsurants" ng-if="!showInsForm" ng-click="showInsurantForm()" translate="addInsurant"></button>
        <div ng-if="showInsForm">
            <form name="insurantForm">
                <div class="form-group">
                    <label translate="name"></label>
                    <input type="text" name="name" ng-model="CurrentInsurant.Name" required="required">
                    <span ng-show="insurantForm.name.$touched && insurantForm.name.$error.required" translate="errName"></span>
                </div>
                <div class="form-group">
                    <label translate="surname"></label>
                    <input type="text" name="surname"ng-model="CurrentInsurant.Surname" required="required">
                </div>
                <div class="form-group">
                    <label translate="jmbg"></label>
                    <input type="number" name="jmbg" ng-model="CurrentInsurant.IdentificationNumber" @*minlength="13" maxlength="13"*@ required="required">
                    <div ng-show="insurantForm.jmbg.$touched">
                        <span ng-show="insurantForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="insurantForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="insurantForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="passport"></label>
                    <input type="text" name="passport" ng-model="CurrentInsurant.PassportNumber" ng-pattern="passportNumberPattern" required="required">
                    <div ng-show="insurantForm.passport.$touched">
                        <span ng-show="insurantForm.passport.$error.required" translate="errPassport"></span>
                        <span ng-show="insurantForm.passport.$error.pattern" translate="errPassportPattern"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="address"></label>
                    <input type="text" name="address" ng-model="Insurant.Address" required="required">
                    <span ng-show="insurantForm.address.$touched && insurantForm.address.$error.required" translate="errAddress"></span>
                </div>
                <div class="form-group">
                    <label translate="email"></label>
                    <input type="email" name="email" ng-model="Insurant.Email" required="required">
                    <span ng-show="insurantForm.email.$touched && insurantForm.email.$error.required" translate="errEmail"></span>
                    <span ng-show="insurantForm.email.$error.email" translate="errEmailValidate"></span>
                </div>
                <div class="form-group">
                    <label translate="telNumber"></label>
                    <input type="text" name="telNumber" ng-model="Insurant.TelephoneNumber" required="required">
                    <span ng-show="insurantForm.telNumber.$touched && insurantForm.telNumber.$error.required" translate="errTelNum"></span>
                </div>
                <div class="form-group">
                    <input ng-disabled="buyerExists" type="checkbox" ng-model="CurrentInsurant.IsBuyer" />
                    <label translate="isBuyer"></label>
                </div>
            </form>
            <div>
                <button class="btn btn-default" ng-click="addInsurant()" ng-disabled="insurantForm.$invalid" translate="add"></button>
                <button ng-click="cancelInsurant()" translate="cancel"></button>
            </div>
        </div>
    </div>

</div>