<style type="text/css">
    .form-control {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    }
    
</style>

<div>
    <div>
        <div class="col-md-12">
            <div>
                <h1 translate="travelInsurance">
                    <h1 translate="details"></h1>
                    <form name="userForm">
                        <div class="form-group">
                            <label translate="name"></label>
                            <input type="text" name="name" class="form-control" ng-model="Insurant.Name" required="required">
                            <span ng-show="userForm.name.$touched && userForm.name.$error.required" style="color:red; display: block" translate="errName"></span>
                        </div>
                        <div class="form-group">
                            <label translate="surname"></label>
                            <input type="text" name="surname" class="form-control" ng-model="Insurant.Surname" required="required">
                            <span ng-show="userForm.surname.$touched && userForm.surname.$error.required" style="color:red; display: block" translate="errSurname"></span>
                        </div>
                        <div class="form-group">
                            <label translate="jmbg"></label>
                            <input type="number" name="jmbg" class="form-control" ng-model="Insurant.IdentNumber" minlength="13" maxlength="13" required="required">
                            <div ng-show="userForm.jmbg.$touched">
                                <span ng-show="userForm.jmbg.$error.required" style="color:red; display: block" translate="errJmbg"></span>
                                <span ng-show="userForm.jmbg.$error.minlength" style="color:red; display: block" translate="errJmbgL"></span>
                                <span ng-show="userForm.jmbg.$error.maxlength" style="color:red; display: block" translate="errJmbgL"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="address"></label>
                            <input type="text" name="address" class="form-control" ng-model="Insurant.Address" required="required">
                            <span ng-show="userForm.address.$touched && userForm.address.$error.required" style="color:red; display: block" translate="errAddress"></span>
                        </div>
                        <div class="form-group">
                            <label translate="telNumber"></label>
                            <input type="text" name="telNumber" class="form-control" ng-model="Insurant.TelNumber" required="required">
                            <span ng-show="userForm.telNumber.$touched && userForm.telNumber.$error.required" style="color:red; display: block" translate="errTelNum"></span>
                        </div>
                    </form>
            </div>
            <div>
                <h1 translate="homeInsurance"></h1>
                <form name="homeForm">
                    <div class="form-group">
                        <label translate="name"></label>
                        <input type="text" name="name" class="form-control" ng-model="InsurantHome.Name" required="required">
                        <span ng-show="homeForm.name.$touched && homeForm.name.$error.required" style="color:red; display: block" translate="errName"></span>
                    </div>
                    <div class="form-group">
                        <label translate="surname"></label>
                        <input type="text" name="surname" class="form-control" ng-model="InsurantHome.Surname" required="required">
                        <span ng-show="homeForm.surname.$touched && homeForm.surname.$error.required" style="color:red; display: block" translate="errSurname"></span>
                    </div>
                    <div class="form-group">
                        <label translate="jmbg"></label>
                        <input type="number" name="jmbg" class="form-control" ng-model="InsurantHome.IdentNumber" minlength="13" maxlength="13" required="required">
                        <div ng-show="userForm.jmbg.$touched">
                            <span ng-show="homeForm.jmbg.$error.required" style="color:red; display: block" translate="errJmbg"></span>
                            <span ng-show="homeForm.jmbg.$error.minlength" style="color:red; display: block" translate="errJmbgL"></span>
                            <span ng-show="homeForm.jmbg.$error.maxlength" style="color:red; display: block" translate="errJmbgL"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="address"></label>
                        <input type="text" name="address" class="form-control" ng-model="InsurantHome.Address" required="required">
                        <span ng-show="vehicleForm.address.$touched && vehicleForm.address.$error.required" style="color:red; display: block" translate="errAddress"></span>
                    </div>
                    <div class="form-group">
                        <label translate="name"></label>
                        <input type="text" name="name" class="form-control" ng-model="Vehicle.Name" required="required">
                        <span ng-show="vehicleForm.name.$touched && vehicleForm.name.$error.required" style="color:red; display: block" translate="errName"></span>
                    </div>
                    <div class="form-group">
                        <label translate="surname"></label>
                        <input type="text" name="surname" class="form-control" ng-model="Vehicle.Surname" required="required">
                        <span ng-show="vehicleForm.surname.$touched && vehicleForm.surname.$error.required" style="color:red; display: block" translate="errSurname"></span>
                    </div>
                    <div class="form-group">
                        <label translate="jmbg"></label>
                        <input type="number" name="jmbg" class="form-control" ng-model="Vehicle .IdentNumber" minlength="13" maxlength="13" required="required">
                        <div ng-show="userForm.jmbg.$touched">
                            <span ng-show="vehicleForm.jmbg.$error.required" style="color:red; display: block" translate="errJmbg"></span>
                            <span ng-show="vehicleForm.jmbg.$error.minlength" style="color:red; display: block" translate="errJmbgL"></span>
                            <span ng-show="vehicleForm.jmbg.$error.maxlength" style="color:red; display: block" translate="errJmbgL"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <h1 translate="vehicleInsurance"></h1>
                <form name="vehicleForm">
                    <div class="form-group">
                        <label translate="brand"></label>
                        <input type="text" name="brand" class="form-control" ng-model="Vehicle.Brand" required="required">
                        <span ng-show="vehicleForm.brand.$touched && vehicleForm.brand.$error.required" style="color:red; display: block" translate="errName"></span>
                    </div>
                    <div class="form-group">
                        <label translate="year"></label>
                        <input type="text" name="year" class="form-control" ng-model="Vehicle.Year" required="required">
                        <span ng-show="vehicleForm.year.$touched && vehicleForm.year.$error.required" style="color:red; display: block" translate="errSurname"></span>
                    </div>
                    <div class="form-group">
                        <label translate="licence"></label>
                        <input type="number" name="licence" class="form-control" ng-model="Vehicle.Licence"  required="required">
                        <div ng-show="vehicleForm.licence.$touched">
                            <span ng-show="vehicleForm.licence.$error.required" style="color:red; display: block" translate="errJmbg"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="chassis"></label>
                        <input type="text" name="chassis" class="form-control" ng-model="Vehicle.Chassis" required="required">
                        <span ng-show="vehicleForm.chassis.$touched && vehicleForm.chassis.$error.required" style="color:red; display: block" translate="errAddress"></span>
                    </div>
                </form>
            </div>

            {{counterForInsurants}}
            {{numOfInsurants}}
            <div>
                <button class="btn btn-default" ng-disabled="counterForInsurants == numOfInsurants" ng-click="addInsurant()">+</button>
                <button class="btn btn-default" ng-disabled="counterForInsurants == 0" ng-click="deleteInsurant()">-</button><br />
                <button ng-if="counterForInsurants == numOfInsurants" ng-click="finish()" class="btn btn-default">Finish</button>
            </div>
        </div>
</div>
</div>