
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissible alert-danger" ng-if="!areTermsAccepted">
            <span translate="acceptTerms"></span>
        </div>
    </div>
</div>

<div ng-if="areTermsAccepted" class="container">
    <div class="row">
        <div class="col-lg-12" align="center">
            <h1 translate="insurance"></h1>
            <ul class="pagination pagination-lg">
                <li ng-click="setSelectedItem('travel')" ng-class="travelSelected ? 'active' : ''"><a ui-sref="insurance.travel" translate="travelInsurance"></a></li>
                <li ng-click="setSelectedItem('others')" ng-class="othersSelected ? 'active' : ''"><a ui-sref="insurance.others" translate="other"></a></li>
                <li ng-click="setSelectedItem('insurants')" ng-class="insurantsSelected ? 'active' : ''"><a ui-sref="insurance.insurants" translate="insurants"></a></li>
                <li ng-click="setSelectedItem('buyer')" ng-class="buyerSelected ? 'active' : ''"><a ui-sref="insurance.buyer" translate="buyer"></a></li>
            </ul>
        </div>
    </div>
    <br />
    <div ui-view></div>
</div>
