@{
    Layout = null;
}

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                    <div>
                        <form>
                            <div class="form-group" ng-repeat="r in risks">
                                <label>{{r.Name}}</label>
                                <input class="form-control" id="r.Id" type="text" />
                            </div>
                        </form>

                        <button class="btn" ng-disabled="showAnotherInsurance" ng-click="chooseAnother()">Choose another insurance</button>

                        <div class="topBottomMargin" ng-if="showAnotherInsurance">
                            <button class="btn btn-primary" ng-repeat="c in categories" ng-click="showInsuranceByCategory(c)">{{c.Name}}</button>
                            <button class="btn" ng-click="cancelOther()">Cancel</button>
                        </div>

                        <hr />

                        <div class="topBottomMargin">
                            <button class="btn" ng-click="savePolicy()">Save</button>
                            <button class="btn" ng-click="cancelPolicy()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

<script>
    $(window).scrollTop($('#mainDiv').offset().top);
</script>