
@{
    Layout = null;
}

<div ng-if="!areTermsAccepted">
    Please accept the <a ui-sref="terms">Terms&Conditions</a> before continuing with the purchase.
</div>

<div ng-if="areTermsAccepted">
    insurance
    <div>
        <ul>
            <li><a ui-sref="insurance.travel">Travel insurance</a></li>
            <li><a ui-sref="insurance.insurants">Insurants</a></li>
            <li><a ui-sref="insurance.others">Other insurances</a></li>
        </ul>
    </div>
    <div ui-view></div>
</div>
