@{
    Layout = null;
}

<style type="text/css">
    .form-control {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    }
    label {
    /* Other styling.. */
    width:60%;
	display:inline-block;
	text-align:right;
	vertical-align:top;
	padding-right:25px;
    }
   div.container1 {
	background:white;
	margin-top:30px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #ccc;
	padding:10px;
	color:#939393;
	font-weight:300;
	font-size:15px;
    width:768px;
	margin:0 auto;
    }
    body {
	background:url(/Content/images/slider/3.jpg)  #ccc;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
   width:100%;
    height:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
    }
   
    input,textarea, select {
	background:#f6f6f6;
	color:#a4a4a4;
	border:none;
	outline:none;
	padding:13px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #ccc;
	width:30%;
	transition:all .3s;
    }
    select {
	width:33.5%;
	box-shadow:0 3px 0 #ccc;
	-webkit-appearance:none;
	-moz-appearance:none;
	cursor:pointer;
    }
    input:hover,textarea:hover, select:hover {
	border-color:#aaa;
    }
    input:focus,textarea:focus, select:focus {
	    box-shadow:0 0 0px 1.5px #3d92d9;
    }
    .but {
     background::#50a5ed;
	background:linear-gradient(#50a5ed, #3280c2);
	background:-webkit-linear-gradient(#50a5ed, #3280c2);
	background:-moz-linear-gradient(#50a5ed, #3280c2);
	background:-o-linear-gradient(#50a5ed, #3280c2);
	box-shadow:inset 0 1px #6ce4f6, 0 1px #787778;
	color:white;
    cursor:pointer;
	border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	width:20%;
    }
    .but:hover {
    background::#69B7FA;
	background:linear-gradient(#69B7FA, #3280c2);
	background:-webkit-linear-gradient(#69B7FA, #3280c2);
	background:-moz-linear-gradient(#69B7FA, #3280c2);
	background:-o-linear-gradient(#69B7FA, #3280c2);
	box-shadow:inset 0 1px #6ce4f6, 0 1px #787778;
    }
    .disabled {
        cursor:none;
    }
    h1,h2,h3 {
        text-align:center;
    }
</style>


<div id="home-slider" class="carousel slide " data-ride="carousel">
    <div class="col-md-12">
            <h1 translate="travelInsurance"></h1>
            <h1 translate="details"></h1>
            <div class="container1">
                <form class="form-horizontal" style="text-align:center" name="userForm">
                    <div class="form-group">
                        <label class="col-sm-4" translate="name"></label>
                        <input type="text" name="name" class="form-control col-sm-10" ng-model="Insurant.Name" required="required">
                        <span ng-show="userForm.name.$touched && userForm.name.$error.required" style="color:red; display: block" translate="errName"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4" translate="surname"></label>
                        <input type="text" name="surname" class="form-control col-sm-10" ng-model="Insurant.Surname" required="required">
                        <span ng-show="userForm.surname.$touched && userForm.surname.$error.required" style="color:red; display: block" translate="errSurname"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4" translate="jmbg"></label>
                        <input type="number" name="jmbg" class="form-control col-sm-10" ng-model="Insurant.IdentNumber" minlength="13" maxlength="13" required="required">
                        <div ng-show="userForm.jmbg.$touched">
                            <span ng-show="userForm.jmbg.$error.required" style="color:red; display: block" translate="errJmbg"></span>
                            <span ng-show="userForm.jmbg.$error.minlength" style="color:red; display: block" translate="errJmbgL"></span>
                            <span ng-show="userForm.jmbg.$error.maxlength" style="color:red; display: block" translate="errJmbgL"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4" translate="address"></label>
                        <input type="text" name="address" class="form-control col-sm-10" ng-model="Insurant.Address" required="required">
                        <span ng-show="userForm.address.$touched && userForm.address.$error.required" style="color:red; display: block" translate="errAddress"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4" translate="telNumber"></label>
                        <input type="text" name="telNumber" class="form-control col-sm-10" ng-model="Insurant.TelNumber" required="required">
                        <span ng-show="userForm.telNumber.$touched && userForm.telNumber.$error.required" style="color:red; display: block" translate="errTelNum"></span>
                    </div>
                </form>
            </div>
            {{counterForInsurants}}
            {{numOfInsurants}}
            <div>
                <button class="btn btn-default" ng-disabled="counterForInsurants == numOfInsurants" ng-click="addInsurant()">+</button>
                <button class="btn btn-default" ng-disabled="counterForInsurants == 0" ng-click="deleteInsurant()">-</button><br />
                <button ng-if="counterForInsurants == numOfInsurants" ng-click="finish()" class="btn btn-default">Finish</button>
            </div>
        @*
    <ul class="pager">
        <li><a class="btn btn-link" translate="previous" ui-sref="calculator"> </a></li>
        <li><a class="btn btn-link" translate="next" ui-sref="otherInsurants"> </a></li>
    </ul>
        *@

        
    </div>
    <a class="left-control" ui-sref="calculator"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" ui-sref="otherInsurants"><i class="fa fa-angle-right"></i></a>
</div>