@{ 
    Layout = null;
}

<div>
    <h1>Do you wish to buy another insurance?</h1>
    <div>
        <button ng-click="showVehicleIns()">Buy vehicle insurance</button>
        <button ng-click="showHomeIns()">Buy home insurance</button>
    </div>

    <div ng-if="showVehicleForm">
        <h2>Vehicle Insurance</h2>
        <form name="vehicleForm">
            <div class="form-group">
                <label translate="duration"></label>
                <br />
                <div class="form-group">
                    <label translate="startDate"></label>
                    <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="vehicleForm.startDate.$touched">
                        <span ng-show="vehicleForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openSd()" translate="openCal"></button>
                </div>
                <div class="form-group">
                    <label translate="endDate"></label>
                    <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="vehicleForm.endDate.$touched">
                        <span ng-show="vehicleForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openEd()" translate="openCal"></button>
                </div>
            </div>
            <div class="form-group">
                <label translate="packageV"></label>
                <select id="package" name="package" required ng-change="onPackageChange()" ng-model="VehicleInsurance.Package" ng-options="p.Id as p.Name for p in packages">
                    <option value="" translate="selPackage"></option>
                </select>
                <div ng-show="form.package.$error.required">
                    <span translate="errPackage"></span>
                </div>
                <div id="towing" hidden>
                    <label translate="towing"></label>
                    <input type="number" name="towing" required min="1" ng-model="VehicleInsurance.TowingKm"/>
                    <div ng-show="vehicleForm.towing.$touched">
                        <span ng-show="vehicleForm.towing.$error.required" translate="errTowing"></span>
                        <span ng-show="vehicleForm.towing.$error.min" translate="errTowingMin"></span>
                    </div>
                </div>
                <div id="repair" hidden>
                    <label translate="repair"></label>
                    <input type="number" name="repair" required min="1" ng-model="VehicleInsurance.RepairPrice"/>
                    <div ng-show="vehicleForm.repair.$touched">
                        <span ng-show="vehicleForm.repair.$error.required" translate="errRepair"></span>
                        <span ng-show="vehicleForm.repair.$error.min" translate="errRepairMin"></span>
                    </div>
                </div>
                <div id="accommodation" hidden>
                    <label translate="accommodation"></label>
                    <input type="number" name="accommodation" required min="1" ng-model="VehicleInsurance.AccommodationDays"/>
                    <div ng-show="vehicleForm.accommodation.$touched">
                        <span ng-show="vehicleForm.accommodation.$error.required" translate="errAccommodation"></span>
                        <span ng-show="vehicleForm.accommodation.$error.min" translate="errAccommodationMin"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label translate="brand"></label>
                <input type="text" required name="brand" ng-model="VehicleInsurance.Brand" />
                <div ng-show="vehicleForm.brand.$touched">
                    <span ng-show="vehicleForm.brand.$error.required" translate="errBrand"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="type"></label>
                <input type="text" required name="type" ng-model="VehicleInsurance.Type" />
                <div ng-show="vehicleForm.type.$touched">
                    <span ng-show="vehicleForm.type.$error.required" translate="errType"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="year"></label>
                <input type="number" required min="1" name="year" ng-model="VehicleInsurance.YearOfProduction" />
                <div ng-show="vehicleForm.year.$touched">
                    <span ng-show="vehicleForm.year.$error.required" translate="errYear"></span>
                    <span ng-show="vehicleForm.year.$error.min" translate="errYearMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="licence"></label>
                <input type="text" required name="licence" ng-model="VehicleInsurance.LicensePlateNumber" />
                <div ng-show="vehicleForm.licence.$touched">
                    <span ng-show="vehicleForm.licence.$error.required" translate="errLicence"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="chassis"></label>
                <input type="text" required name="chassis" ng-model="VehicleInsurance.ChassisNumber" />
                <div ng-show="vehicleForm.chassis.$touched">
                    <span ng-show="vehicleForm.chassis.$error.required" translate="errChassis"></span>
                </div>
            </div>
            <div>
                <p translate="ownerDetails"></p>
                <div class="form-group">
                    <label translate="name"></label>
                    <input type="text" name="name" ng-model="VehicleInsurance.OwnerName" required="required">
                    <div ng-show="vehicleForm.name.$touched && vehicleForm.name.$error.required">
                        <span translate="errName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="surname"></label>
                    <input type="text" name="surname" ng-model="VehicleInsurance.OwnerSurname" required="required">
                    <div ng-show="vehicleForm.surname.$touched">
                        <span ng-show="vehicleForm.surname.$error.required" translate="errSurname"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="jmbg"></label>
                    <input type="number" name="jmbg" ng-model="VehicleInsurance.OwnerIdentificationNumber" minlength="13" maxlength="13" required="required">
                    <div ng-show="vehicleForm.jmbg.$touched">
                        <span ng-show="vehicleForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="vehicleForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="vehicleForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button ng-click="calculateVehicleInsurance()" ng-disabled="vehicleForm.$invalid" translate="calc"></button>
        </div>
        <div ng-if="vehiclePrice != 0.0">
            <h3 translate="total"></h3>
            <div>{{vehiclePrice}}<span translate="currency"></span></div>
            <a class="btn" ng-disabled="vehicleForm.$invalid" translate="buy" ng-click="addVehicleInsurance()"></a>
            <button class="btn" translate="cancel" ng-click="cancelVehicleIns()"></button>
        </div>
    </div>

    <div ng-if="showHomeForm">
        <h2>Home Insurance</h2>
        <form>

        </form>
        <div>
            <button ng-click="calculateHomeInsurance()" ng-disabled="homeForm.$invalid" translate="calc"></button>
        </div>
        <div ng-if="homePrice != 0.0">
            <h3 translate="total"></h3>
            <div>{{homePrice}}<span translate="currency"></span></div>
            <a class="btn" ng-disabled="homeForm.$invalid" translate="buy" ng-click="addHomeInsurance()"></a>
            <button class="btn" translate="cancel" ng-click="cancelHomeIns()"></button>
        </div>
    </div>

</div>