<div>
    <h1>Do you wish to buy another insurance?</h1>
    <div>
        <button ng-click="showVehicleIns()">Buy vehicle insurance</button>
        <button ng-click="showHomeIns()">Buy home insurance</button>
    </div>

    <div ng-if="showVehicleForm">
        <h2>Vehicle Insurance</h2>
        <form name="vehicleForm">
            <div class="form-group">
                <label translate="duration"></label>
                <br />
                <div class="form-group">
                    <label translate="startDate"></label>
                    <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="vehicleForm.startDate.$touched">
                        <span ng-show="vehicleForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openSd()" translate="openCal"></button>
                </div>
                <div class="form-group">
                    <label translate="endDate"></label>
                    <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="vehicleForm.endDate.$touched">
                        <span ng-show="vehicleForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openEd()" translate="openCal"></button>
                </div>
            </div>
        </form>
        <div>
            <button translate="buy"></button>
            <button ng-click="cancelVehicleIns()" translate="cancel"></button>
        </div>
    </div>

    <div ng-if="showHomeForm">
        <h2>Home Insurance</h2>
        <form>

        </form>
        <div>
            <button translate="buy"></button>
            <button ng-click="cancelHomeIns()" translate="cancel"></button>
        </div>
    </div>

</div>