@{
    Layout = null;
}

<h1 translate="otherInsurance"></h1>
<div>
    <button ng-click="showVehicleIns() translate="buyVehicle">Buy vehicle insurance</button>
    <button ng-click="showHomeIns()" translate="buyHome">Buy home insurance</button>
</div>

<div class="row">
    <div class="col-lg-12">
        <div ng-if="showVehicleForm">
            <h2 translate="vehicleInsurance"></h2>
            
            <form class="form-horizontal" name="vehicleForm">
                
                <div class="form-group">
                    <label for="startDate" translate="startDate"></label>
                    <div class="col-lg-10">
                        <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                               is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openSd()"/>
                        <div ng-show="vehicleForm.startDate.$touched">
                            <span ng-show="vehicleForm.startDate.$error.required" translate="errStart"></span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="startDate" translate="endDate"></label>
                    <div class="col-lg-10">
                        <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                               is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                        <div ng-show="vehicleForm.endDate.$touched">
                            <span ng-show="vehicleForm.endDate.$error.required" translate="errEnd"></span>
                        </div>
                        <div ng-show="dateEnd">
                            <span translate="errDateEnd"></span>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
