@{ 
    Layout = null;
}

<div>
    <h1 translate="otherInsurance"></h1>
    <div>
        <button ng-click="showVehicleIns()" translate="buyVehicle">Buy vehicle insurance</button>
        <button ng-click="showHomeIns()" translate="buyHome">Buy home insurance</button>
    </div>

    <div ng-if="showVehicleForm">
        <h2 translate="vehicleInsurance"></h2>
        <form name="forms.vehicleForm">
            <div class="form-group">
                <label translate="duration"></label>
                <br />
                <div class="form-group">
                    <label translate="startDate"></label>
                    <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="forms.vehicleForm.startDate.$touched">
                        <span ng-show="forms.vehicleForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openSd()" translate="openCal"></button>
                </div>
                <div class="form-group">
                    <label translate="endDate"></label>
                    <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="forms.vehicleForm.endDate.$touched">
                        <span ng-show="forms.vehicleForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openEd()" translate="openCal"></button>
                </div>
            </div>
            <div class="form-group">
                <label translate="packageV"></label>
                <select id="package" name="package" required ng-change="onPackageChange()" ng-model="VehicleInsurance.Package" ng-options="p.Id as p.Name for p in packages">
                    <option value="" translate="selPackage"></option>
                </select>
                <div ng-show="form.package.$error.required">
                    <span translate="errPackage"></span>
                </div>
                <div id="towing" ng-if="towing">
                    <label translate="towing"></label>
                    <input type="number" name="towing" required min="1" ng-model="VehicleInsurance.TowingKm"/>
                    <div ng-show="forms.vehicleForm.towing.$touched">
                        <span ng-show="forms.vehicleForm.towing.$error.required" translate="errTowing"></span>
                        <span ng-show="forms.vehicleForm.towing.$error.min" translate="errTowingMin"></span>
                    </div>
                </div>
                <div id="repair" ng-if="repair">
                    <label translate="repair"></label>
                    <input type="number" name="repair" required min="1" ng-model="VehicleInsurance.RepairPrice"/>
                    <div ng-show="forms.vehicleForm.repair.$touched">
                        <span ng-show="forms.vehicleForm.repair.$error.required" translate="errRepair"></span>
                        <span ng-show="forms.vehicleForm.repair.$error.min" translate="errRepairMin"></span>
                    </div>
                </div>
                <div id="accommodation" ng-if="accommodation">
                    <label translate="accommodation"></label>
                    <input type="number" name="accommodation" required min="1" ng-model="VehicleInsurance.AccommodationDays"/>
                    <div ng-show="forms.vehicleForm.accommodation.$touched">
                        <span ng-show="forms.vehicleForm.accommodation.$error.required" translate="errAccommodation"></span>
                        <span ng-show="forms.vehicleForm.accommodation.$error.min" translate="errAccommodationMin"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label translate="brand"></label>
                <input type="text" required name="brand" ng-model="VehicleInsurance.Brand" />
                <div ng-show="forms.vehicleForm.brand.$touched">
                    <span ng-show="forms.vehicleForm.brand.$error.required" translate="errBrand"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="type"></label>
                <input type="text" required name="type" ng-model="VehicleInsurance.Type" />
                <div ng-show="forms.vehicleForm.type.$touched">
                    <span ng-show="forms.vehicleForm.type.$error.required" translate="errType"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="year"></label>
                <input type="number" required min="1" name="year" ng-model="VehicleInsurance.YearOfProduction" />
                <div ng-show="forms.vehicleForm.year.$touched">
                    <span ng-show="forms.vehicleForm.year.$error.required" translate="errYear"></span>
                    <span ng-show="forms.vehicleForm.year.$error.min" translate="errYearMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="licence"></label>
                <input type="text" required name="licence" ng-model="VehicleInsurance.LicensePlateNumber" />
                <div ng-show="forms.vehicleForm.licence.$touched">
                    <span ng-show="forms.vehicleForm.licence.$error.required" translate="errLicence"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="chassis"></label>
                <input type="text" required name="chassis" ng-model="VehicleInsurance.ChassisNumber" />
                <div ng-show="forms.vehicleForm.chassis.$touched">
                    <span ng-show="forms.vehicleForm.chassis.$error.required" translate="errChassis"></span>
                </div>
            </div>
            <div>
                <p translate="ownerDetails"></p>
                <div class="form-group">
                    <label translate="name"></label>
                    <input type="text" name="name" ng-model="VehicleInsurance.OwnerName" required="required">
                    <div ng-show="forms.vehicleForm.name.$touched && forms.vehicleForm.name.$error.required">
                        <span translate="errName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="surname"></label>
                    <input type="text" name="surname" ng-model="VehicleInsurance.OwnerSurname" required="required">
                    <div ng-show="forms.vehicleForm.surname.$touched">
                        <span ng-show="forms.vehicleForm.surname.$error.required" translate="errSurname"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="jmbg"></label>
                    <input type="number" name="jmbg" ng-model="VehicleInsurance.OwnerIdentificationNumber" minlength="13" maxlength="13" required="required">
                    <div ng-show="forms.vehicleForm.jmbg.$touched">
                        <span ng-show="forms.vehicleForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
            </div>
            {{forms.vehicleForm.repair.$touched}}
            {{forms.vehicleForm.repair.$error.required}}
        </form>
        <div>
            <button class="btn" ng-click="calculateVehicleInsurance()" ng-disabled="forms.vehicleForm.$invalid" translate="calc"></button>
        </div>
        <div ng-if="vehiclePrice != 0.0">
            <h3 translate="total"></h3>
            <div>{{vehiclePrice}}<span translate="currency"></span></div>
            <a class="btn" ng-disabled="forms.vehicleForm.$invalid" translate="buy" ng-click="addVehicleInsurance()"></a>
            <button class="btn" translate="cancel" ng-click="cancelVehicleIns()"></button>
        </div>
    </div>

    <div ng-if="showHomeForm">
        <h2 translate="homeInsurance"></h2>
        <form name="homeForm">
            <div class="form-group">
                <label translate="duration"></label>
                <br />
                <div class="form-group">
                    <label translate="startDate"></label>
                    <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="HomeInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="homeForm.startDate.$touched">
                        <span ng-show="homeForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openSd()" translate="openCal"></button>
                </div>
                <div class="form-group">
                    <label translate="endDate"></label>
                    <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="HomeInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="homeForm.endDate.$touched">
                        <span ng-show="homeForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openEd()" translate="openCal"></button>
                </div>
            </div>
            <div class="form-group">
                <label translate="address"></label>
                <input type="text" required ng-model="HomeInsurance.Address" name="address" />
                <div ng-show="homeForm.address.$touched">
                    <span ng-show="homeForm.address.$error.required" translate="errAddress"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="homeArea"></label>
                <input type="number" required ng-model="HomeInsurance.SurfaceArea" min="1" name="surfaceArea" step="0.01" />
                <div ng-show="homeForm.surfaceArea.$touched">
                    <span ng-show="homeForm.surfaceArea.$error.required" translate="errHomeArea"></span>
                    <span ng-show="homeForm.surfaceArea.$error.min" translate="errHomeAreaMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="homeAge"></label>
                <input type="number" required ng-model="HomeInsurance.BuildingAge" min="1" name="buildingAge" step="0.01" />
                <div ng-show="homeForm.buildingAge.$touched">
                    <span ng-show="homeForm.buildingAge.$error.required" translate="errHomeAge"></span>
                    <span ng-show="homeForm.buildingAge.$error.min" translate="errHomeAgeMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="homeValue"></label>
                <input type="number" required ng-model="HomeInsurance.EstimatedValue" min="1" name="estimatedValue" step="0.01" />
                <div ng-show="homeForm.estimatedValue.$touched">
                    <span ng-show="homeForm.estimatedValue.$error.required" translate="errHomeValue"></span>
                    <span ng-show="homeForm.estimatedValue.$error.min" translate="errHomeValueMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="insuredFrom"></label>
                <select class="form-control" id="insuredFrom" name="insuredFrom" required ng-model="HomeInsurance.InsuredFrom" ng-options="r.Id as r.Name for r in insuredFrom">
                    <option value="" translate="selEnsured"></option>
                </select>
                <div ng-show="homeForm.insuredFrom.$touched">
                    <span ng-show="homeForm.insuredFrom.$error.required" translate="errEnsured"></span>
                </div>
            </div>
            <div>
                <p translate="ownerDetails"></p>
                <div class="form-group">
                    <label translate="name"></label>
                    <input type="text" name="name" ng-model="HomeInsurance.OwnerName" required="required">
                    <div ng-show="homeForm.name.$touched && homeForm.name.$error.required">
                        <span translate="errName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="surname"></label>
                    <input type="text" name="surname" ng-model="HomeInsurance.OwnerSurname" required="required">
                    <div ng-show="homeForm.surname.$touched">
                        <span ng-show="homeForm.surname.$error.required" translate="errSurname"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="jmbg"></label>
                    <input type="number" name="jmbg" ng-model="HomeInsurance.OwnerIdentificationNumber" minlength="13" maxlength="13" required="required">
                    <div ng-show="homeForm.jmbg.$touched">
                        <span ng-show="homeForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="homeForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="homeForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button ng-click="calculateHomeInsurance()" ng-disabled="homeForm.$invalid" translate="calc"></button>
        </div>
        <div ng-if="homePrice != 0.0">
            <h3 translate="total"></h3>
            <div>{{homePrice}}<span translate="currency"></span></div>
            <a class="btn" ng-disabled="homeForm.$invalid" translate="buy" ng-click="addHomeInsurance()"></a>
            <button class="btn" translate="cancel" ng-click="cancelHomeIns()"></button>
        </div>
    </div>

    <div>
        <span translate="noOtherInsurance"></span>
        <button translate="finishPurchase"></button>
    </div>

</div>