
@{
    Layout = null;
}

<div ng-if="showHomeForm">
    <label translate="homeArea"></label>
    <input class="form-control" type="number" name="area" required min="1" ng-model="HomeInsurance.Area" /><br />
    <div ng-show="form.area.$touched">
        <span ng-show="form.area.$error.required" style="color:red; display: block" translate="errHomeArea"></span>
        <span ng-show="form.area.$error.min" style="color:red; display: block" translate="errHomeArea"></span>
    </div>

    <label translate="homeAge"></label>
    <input class="form-control" type="number" name="age" required min="1" ng-model="HomeInsurance.Age" /><br />
    <div ng-show="form.area.$touched">
        <span ng-show="form.age.$error.required" style="color:red; display: block" translate="errHomeAge"></span>
        <span ng-show="form.age.$error.min" style="color:red; display: block" translate="errHomeAge"></span>
    </div>

    <label translate="homeValue"></label>
    <input class="form-control" type="number" name="homeValue" required min="1" ng-model="HomeInsurance.Value" /><br />
    <div ng-show="form.area.$touched">
        <span ng-show="form.homeValue.$error.required" style="color:red; display: block" translate="errHomeValue"></span>
        <span ng-show="form.homeValue.$error.min" style="color:red; display: block" translate="errHomeValue"></span>
    </div>
    @*dobaviti listu ensuredBy*@
    <label translate="ensuredBy"></label>
    <select class="form-control" name="ensuredBy" ng-model="HomeInsurance.InsuredBy" ng-options="e.Id as e.Name for e in ensuredBy">
        <option value="" ng-selected="selected" translate="selEnsured"></option>
    </select><br />
    <span ng-show="form.ensuredBy.$error.required" style="color:red; display: block" translate="errEnsured"></span>

</div>
<br />
<div ng-if="showVehicleForm">
    <label translate="packageV"></label>
</div>
