@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-10">
        <h1 translate="otherInsurance"></h1>
        <button class="btn btn-primary" ng-click="showVehicleIns()" ng-disabled="vehicleInsExists" translate="buyVehicle">Buy vehicle insurance</button>
        <button class="btn btn-primary" ng-click="showHomeIns()" ng-disabled="homeInsExists" translate="buyHome">Buy home insurance</button>
    </div>
</div>
<br /><br />

<div class="row">
<div class="col-lg-12">
<div ng-if="showVehicleForm">
    <form class="form-horizontal" name="vehicleForm">
        <fieldset>
            <legend translate="vehicleInsurance"></legend>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="startDate" translate="startDate"></label>
                <div class="col-lg-6">
                    <input class="form-control" ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openSd()" />
                    <div ng-show="vehicleForm.startDate.$touched">
                        <span ng-show="vehicleForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="endDate" translate="endDate"></label>
                <div class="col-lg-6">
                    <input class="form-control" ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openEd()" />
                    <div ng-show="vehicleForm.endDate.$touched">
                        <span ng-show="vehicleForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="package" translate="packageV"></label>
                <div class="col-lg-6">
                    <select class="form-control" id="package" name="package" required ng-change="onPackageChange()" ng-model="VehicleInsurance.Package" ng-options="p.Id as p.Name for p in packages">
                        <option value="" translate="selPackage"></option>
                    </select>
                    <div ng-show="form.package.$error.required">
                        <span translate="errPackage"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="towing">
                <label class="col-lg-2 control-label" for="towing" translate="towing"></label>
                <div class="col-lg-6">
                    <input id="towing" class="form-control" type="number" name="towing" required min="1" ng-model="VehicleInsurance.TowingKm" />
                    <div ng-show="forms.vehicleForm.towing.$touched">
                        <span ng-show="forms.vehicleForm.towing.$error.required" translate="errTowing"></span>
                        <span ng-show="forms.vehicleForm.towing.$error.min" translate="errTowingMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="repair">
                <label class="col-lg-2 control-label" for="repair" translate="repair"></label>
                <div class="col-lg-6">
                    <input id="repair" class="form-control" type="number" name="towing" required min="1" ng-model="VehicleInsurance.TowingKm" />
                    <div ng-show="forms.vehicleForm.repair.$touched">
                        <span ng-show="forms.vehicleForm.repair.$error.required" translate="errRepair"></span>
                        <span ng-show="forms.vehicleForm.repair.$error.min" translate="errRepairMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="accommodation">
                <label class="col-lg-2 control-label" for="accommodation" translate="accommodation"></label>
                <div class="col-lg-6">
                    <input id="accommodation" class="form-control" type="number" name="accommodation" required min="1" ng-model="VehicleInsurance.AccommodationDays" />
                    <div ng-show="forms.vehicleForm.accommodation.$touched">
                        <span ng-show="forms.vehicleForm.accommodation.$error.required" translate="errAccommodation"></span>
                        <span ng-show="forms.vehicleForm.accommodation.$error.min" translate="errAccommodationMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="brand" translate="brand"></label>
                <div class="col-lg-6">
                    <input id="brand" class="form-control" type="text" required name="brand" ng-model="VehicleInsurance.Brand" />
                    <div ng-show="forms.vehicleForm.brand.$touched">
                        <span ng-show="forms.vehicleForm.brand.$error.required" translate="errBrand"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="type" translate="type"></label>
                <div class="col-lg-6">
                    <input id="type" class="form-control" type="text" required name="type" ng-model="VehicleInsurance.Type" />
                    <div ng-show="forms.vehicleForm.type.$touched">
                        <span ng-show="forms.vehicleForm.type.$error.required" translate="errType"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="year" translate="year"></label>
                <div class="col-lg-6">
                    <input class="form-control" id="year" type="number" required min="1" name="year" ng-model="VehicleInsurance.YearOfProduction" />
                    <div ng-show="forms.vehicleForm.year.$touched">
                        <span ng-show="forms.vehicleForm.year.$error.required" translate="errYear"></span>
                        <span ng-show="forms.vehicleForm.year.$error.min" translate="errYearMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="licence" translate="licence"></label>
                <div class="col-lg-6">
                    <input id="licence" class="form-control" type="text" required name="licence" ng-model="VehicleInsurance.LicensePlateNumber" />
                    <div ng-show="forms.vehicleForm.licence.$touched">
                        <span ng-show="forms.vehicleForm.licence.$error.required" translate="errLicence"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="chassis" translate="chassis"></label>
                <div class="col-lg-6">
                    <input id="chassis" class="form-control" type="text" required name="chassis" ng-model="VehicleInsurance.ChassisNumber" />
                    <div ng-show="forms.vehicleForm.chassis.$touched">
                        <span ng-show="forms.vehicleForm.chassis.$error.required" translate="errChassis"></span>
                    </div>
                </div>
            </div>
                    
            <br/>
            <legend translate="ownerDetails"></legend>
                    
            <div class="form-group">
                <label class="col-lg-2 control-label" for="name" translate="name"></label>
                <div class="col-lg-6">
                    <input id="name" class="form-control" type="text" name="name" ng-model="VehicleInsurance.OwnerName" required="required">
                    <div ng-show="forms.vehicleForm.name.$touched && forms.vehicleForm.name.$error.required">
                        <span translate="errName"></span>
                    </div>
                </div>
            </div>
                    
            <div class="form-group">
                <label for="surname" class="col-lg-2 control-label" translate="surname"></label>
                <div class="col-lg-6">
                    <input id="surname" class="form-control" type="text" name="surname" ng-model="VehicleInsurance.OwnerSurname" required="required">
                    <div ng-show="forms.vehicleForm.surname.$touched">
                        <span ng-show="forms.vehicleForm.surname.$error.required" translate="errSurname"></span>
                    </div>
                </div>
            </div>
                    
            <div class="form-group">
                <label class="col-lg-2 control-label" for="jmbg" translate="jmbg"></label>
                <div class="col-lg-6">
                    <input id="jmbg" class="form-control" type="number" name="jmbg" ng-model="VehicleInsurance.OwnerIdentificationNumber" minlength="13" maxlength="13" required="required">
                    <div ng-show="forms.vehicleForm.jmbg.$touched">
                        <span ng-show="forms.vehicleForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <br/>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-primary" ng-click="calculateVehicleInsurance()" ng-disabled="forms.vehicleForm.$invalid" translate="calc"></button>
                </div>
                        
                <div class="col-lg-10" ng-if="vehiclePrice != 0.0">
                    <h3 translate="total"></h3>
                    <div>{{vehiclePrice}}<span translate="currency"></span></div>
                    <a class="btn btn-primary" ng-disabled="forms.vehicleForm.$invalid" translate="buy" ng-click="addVehicleInsurance()"></a>
                    <button class="btn btn-primary" translate="cancel" ng-click="cancelVehicleIns()"></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
        
<div ng-if="showHomeForm">
    <form name="homeForm" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="startDate" translate="startDate"></label>
                <div class="col-lg-6">
                    <input class="form-control" ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openSd()" />
                    <div ng-show="vehicleForm.startDate.$touched">
                        <span ng-show="vehicleForm.startDate.$error.required" translate="errStart"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="endDate" translate="endDate"></label>
                <div class="col-lg-6">
                    <input class="form-control" ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="VehicleInsurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openEd()" />
                    <div ng-show="vehicleForm.endDate.$touched">
                        <span ng-show="vehicleForm.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-lg-2 control-label" translate="address"></label>
                <div class="col-lg-6">
                    <input id="address" class="form-control" type="text" required ng-model="HomeInsurance.Address" name="address" />
                    <div ng-show="homeForm.address.$touched">
                        <span ng-show="homeForm.address.$error.required" translate="errAddress"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="homeArea" class="col-lg-2 control-label" translate="homeArea"></label>
                <div class="col-lg-6">
                    <input id="homeArea" class="form-control" type="number" required ng-model="HomeInsurance.SurfaceArea" min="1" name="surfaceArea" step="0.01" />
                    <div ng-show="homeForm.surfaceArea.$touched">
                        <span ng-show="homeForm.surfaceArea.$error.required" translate="errHomeArea"></span>
                        <span ng-show="homeForm.surfaceArea.$error.min" translate="errHomeAreaMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="homeAge" class="col-lg-2 control-label" translate="homeAge"></label>
                <div class="col-lg-6">
                    <input id="homeAge" class="form-control" type="number" required ng-model="HomeInsurance.BuildingAge" min="1" name="buildingAge" step="0.01" />
                    <div ng-show="homeForm.buildingAge.$touched">
                        <span ng-show="homeForm.buildingAge.$error.required" translate="errHomeAge"></span>
                        <span ng-show="homeForm.buildingAge.$error.min" translate="errHomeAgeMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="homeValue" class="col-lg-2 control-label" translate="homeValue"></label>
                <div class="col-lg-6">
                    <input id="homeValue" class="form-control" type="number" required ng-model="HomeInsurance.EstimatedValue" min="1" name="estimatedValue" step="0.01" />
                    <div ng-show="homeForm.estimatedValue.$touched">
                        <span ng-show="homeForm.estimatedValue.$error.required" translate="errHomeValue"></span>
                        <span ng-show="homeForm.estimatedValue.$error.min" translate="errHomeValueMin"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="insuredFrom" class="col-lg-2 control-label" translate="insuredFrom"></label>
                <div class="col-lg-6">
                    <select class="form-control" id="insuredFrom" name="insuredFrom" required ng-model="HomeInsurance.InsuredFrom" ng-options="r.Id as r.Name for r in insuredFrom">
                        <option value="" translate="selEnsured"></option>
                    </select>
                    <div ng-show="homeForm.insuredFrom.$touched">
                        <span ng-show="homeForm.insuredFrom.$error.required" translate="errEnsured"></span>
                    </div>
                </div>
            </div>

            <br />
            <legend translate="ownerDetails"></legend>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="name" translate="name"></label>
                <div class="col-lg-6">
                    <input id="name" class="form-control" type="text" name="name" ng-model="VehicleInsurance.OwnerName" required="required">
                    <div ng-show="forms.vehicleForm.name.$touched && forms.vehicleForm.name.$error.required">
                        <span translate="errName"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="surname" class="col-lg-2 control-label" translate="surname"></label>
                <div class="col-lg-6">
                    <input id="surname" class="form-control" type="text" name="surname" ng-model="VehicleInsurance.OwnerSurname" required="required">
                    <div ng-show="forms.vehicleForm.surname.$touched">
                        <span ng-show="forms.vehicleForm.surname.$error.required" translate="errSurname"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="jmbg" translate="jmbg"></label>
                <div class="col-lg-6">
                    <input id="jmbg" class="form-control" type="number" name="jmbg" ng-model="VehicleInsurance.OwnerIdentificationNumber" minlength="13" maxlength="13" required="required">
                    <div ng-show="forms.vehicleForm.jmbg.$touched">
                        <span ng-show="forms.vehicleForm.jmbg.$error.required" translate="errJmbg"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.minlength" translate="errJmbgL"></span>
                        <span ng-show="forms.vehicleForm.jmbg.$error.maxlength" translate="errJmbgL"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <br />
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-primary" ng-click="calculateHomeInsurance()" ng-disabled="homeForm.$invalid" translate="calc"></button>
                </div>

                <div class="col-lg-10" ng-if="homePrice != 0.0">
                    <h3 translate="total"></h3>
                    <div>{{homePrice}}<span translate="currency"></span></div>
                    <a class="btn btn-primary" ng-disabled="forms.homeForm.$invalid" translate="buy" ng-click="addHomeInsurance()"></a>
                    <button class="btn btn-primary" translate="cancel" ng-click="cancelVehicleIns()"></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div>
</div>

<br/>
<div clas="row">
    <div class="col-lg-10">
        <h5 translate="noOtherInsurance"></h5>
    </div>
    <br/>
    <div class="col-lg-10">
        <button class="btn btn-primary" ng-click="addOthers()" translate="proceed"></button>
    </div>
</div>



