<div>
    <h1>Do you wish to buy another insurance?</h1>
    <div>
        <button ng-click="addVehicleIns()">Buy vehicle insurance</button>
        <button ng-click="addHomeIns()">Buy home insurance</button>
    </div>

    <div ng-if="showVehicleForm">
        <form></form>
    </div>

    <div ng-if="showHomeForm">
        <form></form>
    </div>

</div>