
@{
    Layout = null;
}


<html>
<head>
    <title>Payment</title>
</head>
<body>
<div>
    <p><button ng-show="showCreateButton" class="btn btn-primary btn-lg" ng-click="createPayment()">Create Payment</button></p>
    <p><a ng-show="showUrl" href="" ng-click="redirect()">Payment url</a></p>
    <button class="btn btn-primary btn-lg" ng-show="showExecuteButton" value="Confirm" ng-click="executePayment()">Execute Payment</button>
</div>
</body>
</html>
