
@{
    Layout = null;
}


<html>
<head>
    <title>Payment</title>
</head>
<body>
<div>
    <button class="btn btn-primary btn-lg" ng-show="showExecuteButton" value="Confirm" ng-click="executePayment()">Execute Payment</button>
</div>
</body>
</html>
