
@{
    Layout = null;
}

<div class="container">
     
         <h1 align="center" translate="terms"></h1>
         <br />
         <br />
    <blockquote>
        <p style="font-size:larger" translate="conditions1"></p>
        <p style="font-size:larger" translate="conditions2"></p>
        <br />
        <p style="font-size:larger" translate="conditions3"></p>
        <br />
        <p style="font-size:larger" translate="conditions4"></p>
    </blockquote>
        <div class="row" style="font-size:x-large">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <div class="checkbox">
                                    <label>
                                        <input style="transform:scale(1.5)" type="checkbox" ng-model="areAccepted"><span translate="haveAccepted"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-primary" ng-click="accept()" translate="proceed"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <p class="text-danger" ng-if="hasError" translate="termsError"></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    
</div>

