
@{
    Layout = null;
}

    <h1>Calculate the price of your travel insurance before buying it.</h1>

    <div>
        <form name="form">
            <div class="form-group">
                <label translate="duration"></label>
                <br />
                <div class="form-group">
                    <label translate="startDate"></label>
                    <input ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="Insurance.StartDate"
                           is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="form.startDate.$touched">
                        <span ng-show="form.startDate.$error.required" translate="errStart"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openSd()" translate="openCal"></button>
                </div>
                <div class="form-group">
                    <label translate="endDate"></label>
                    <input ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="Insurance.EndDate"
                           is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" />
                    <div ng-show="form.endDate.$touched">
                        <span ng-show="form.endDate.$error.required" translate="errEnd"></span>
                    </div>
                    <div ng-show="dateEnd">
                        <span translate="errDateEnd"></span>
                    </div>
                    <button style="margin:0.3em 0em 0.3em 0em" type="button" class="btn btn-link" ng-click="openEd()" translate="openCal"></button>
                </div>
            </div>
            <div class="form-group">
                <label translate="region"></label>
                <select id="region" name="region" required ng-model="Insurance.Region" ng-options="r.Id as r.Name for r in regions">
                    <option value="" translate="selReg"></option>
                </select>
                <div ng-show="form.region.$touched && region.$error.required">
                    <span translate="errReg"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="number"></label>
                <input type="number" id="number" name="number" ng-change="pickNumber()" required min="1" ng-model="Insurance.NumberOfInsurants" />
                <div ng-show="form.number.$touched">
                    <span ng-show="form.number.$error.required" style="color:red; display: block" translate="errNumReq"></span>
                    <span ng-show="form.number.$error.min" style="color:red; display: block" translate="errNumMin"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="age"></label>
                <select name="age" ng-model="Insurance.Age" required ng-options="a.Id as a.Name for a in ages">
                    <option value="" translate="selAge"></option>
                </select>
                <div ng-show="form.age.$touched && form.age.$error.required">
                    <span translate="errAge"></span>
                </div>
            </div>
            <div class="form-group">
                <label translate="sport">?</label>
                <input type="checkbox" ng-model="isChecked" />
                <div class="form-group">
                    <select name="sport" ng-if="isChecked" required ng-model="Insurance.Sport" ng-options="s.Id as s.Name for s in sports">
                        <option value="" translate="selSport"></option>
                    </select>
                    <div ng-show="isChecked && form.sport.$touched && form.sport.$error.required">
                        <span translate="errSport"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label translate="value"></label>
                <select name="value" ng-model="Insurance.InsuredValue" required ng-options="v.Id as v.Name for v in values">
                    <option value="" translate="selValue"></option>
                </select>
                <div ng-show="form.value.$touched && form.value.$error.required">
                    <span translate="errValue"></span>
                </div>
            </div>
            <div>
                <button @*ng-disabled="form.$invalid"*@ translate="calc" class="btn btn-primary" ng-click="calculate()"></button>
            </div>
            <div ng-if="price != 0.0">
                <h3 translate="total">: {{price}} <span translate="currency"></span></h3>
                <a class="btn" ng-disabled="form.$invalid" translate="buy" ng-click="addTravelInsurance()" ui-sref="insurance.insurants"></a>
                <button translate="cancel"></button>
            </div>
        </form>
    </div>
