@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <form name="travelForm" class="form-horizontal">
            <fieldset>
                <h1 translate="calculatePrice"></h1>
                <div class="form-group" >
                    <label for="startDate" class="col-lg-2 control-label" translate="startDate"></label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-readonly="true" id="startDate" name="startDate" type="text" uib-datepicker-popup ng-model="Insurance.StartDate"
                               is-open="sd.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openSd()" />
                        <div ng-show="travelForm.startDate.$touched">
                            <span class="text-danger" ng-show="travelForm.startDate.$error.required" class="text-danger" translate="errStart"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate" class="col-lg-2 control-label" translate="endDate"></label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-readonly="true" name="endDate" type="text" uib-datepicker-popup ng-model="Insurance.EndDate"
                               is-open="ed.opened" datepicker-options="dateOptions" required ng-change="checkDate()" ng-click="openEd()" />
                        <div ng-show="travelForm.endDate.$touched">
                            <span class="text-danger" ng-show="travelForm.endDate.$error.required" class="text-danger" translate="errEnd"></span>
                        </div>
                        <div ng-show="dateEnd">
                            <span translate="errDateEnd"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': travelForm.region.$invalid && travelForm.region.$touched}">
                    <label for="region" class="col-lg-2 control-label" translate="region"></label>
                    <div class="col-lg-6">
                        <select class="form-control" id="region" name="region" required ng-model="Insurance.Region" ng-options="r.Id as r.Name for r in regions">
                            <option value="" translate="selReg"></option>
                        </select>
                        <div ng-show="travelForm.region.$touched && travelForm.region.$error.required">
                            <span class="text-danger" translate="errReg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': travelForm.number.$invalid && travelForm.number.$touched}">
                    <label for="number" class="col-lg-2 control-label" translate="number"></label>
                    <div class="col-lg-6">
                        <input class="form-control" type="number" id="number" name="number" ng-change="pickNumber()" required min="1" ng-model="Insurance.NumberOfInsurants" />
                        <div ng-show="travelForm.number.$touched">
                            <span ng-show="travelForm.number.$error.required" class="text-danger" translate="errNumReq"></span>
                            <span ng-show="travelForm.number.$error.min" class="text-danger" translate="errNumMin"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': travelForm.age.$invalid && travelForm.age.$touched}">
                    <label for="age" class="col-lg-2 control-label" translate="age"></label>
                    <div class="col-lg-6">
                        <select class="form-control" name="age" id="age" ng-model="Insurance.Age" required ng-options="a.Id as a.Name for a in ages">
                            <option value="" translate="selAge"></option>
                        </select>
                        <div ng-show="travelForm.age.$touched && travelForm.age.$error.required">
                            <span class="text-danger" translate="errAge"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': travelForm.sport.$invalid && travelForm.sport.$touched}">
                    <label class="col-lg-2 control-label" translate="sport">?</label>
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isChecked" />@*<span translate="sport">?</span>*@
                            </label>
                        </div>
                        <label class="col-lg-2 control-label"></label>
                        <select class="form-control " name="sport" ng-if="isChecked" required ng-model="Insurance.Sport" ng-options="s.Id as s.Name for s in sports">
                            <option value="" translate="selSport"></option>
                        </select>
                        <div ng-show="isChecked && travelForm.sport.$touched && travelForm.sport.$error.required">
                            <span class="text-danger" translate="errSport"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': travelForm.value.$invalid && travelForm.value.$touched}">
                    <label for="value" class="col-lg-2 control-label" translate="value"></label>
                    <div class="col-lg-6">
                        <select class="form-control" id="value" name="value" ng-model="Insurance.InsuredValue" required ng-options="v.Id as v.Name for v in values">
                            <option value="" translate="selValue"></option>
                        </select>
                        <div ng-show="travelForm.value.$touched && travelForm.value.$error.required">
                            <span class="text-danger" translate="errValue"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <br/>
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-disabled="travelForm.$invalid" translate="calc" class="btn btn-primary" ng-click="calculate()"></button>
                    </div>

                    <div class="col-lg-10" ng-if="travelPrice != 0.0">
                        <h3 translate="total"></h3>
                        <div>{{travelPrice}} <span translate="currency"></span></div>
                        <button class="btn" ng-disabled="travelForm.$invalid" translate="buy" ng-click="addTravelInsurance()"></button>
                        <button class="btn" ng-click="cancelTravelInsurance()" translate="cancel"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
