<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link id="css-preset" href="~/Content/presets/preset1.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <base href="/">
</head>
<body>
    <header id="home">
        <div class="main-nav" ng-controller="NavbarController">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">
                        <h1>CareTravel</h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll"><a translate="insurance" ui-sref="calculator"></a></li>
                        <li><a ng-click="changeCurrentLanguage('en')" href ="" translate="english"></a></li>
                        <li><a ng-click="changeCurrentLanguage('sr')" href="" translate="serbian"></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/#main-nav-->
    </header><!--/#home-->
    
    <div id="mainDiv" class="topBottomMargin">
        @RenderBody()
    </div>

    <script src="~/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery/jquery.flexslider.js"></script>
    <script src="~/scripts/jquery/jquery.smooth-scroll.js"></script>
    <script src="~/scripts/jquery/jquery.fancybox.pack.js"></script>
    <script src="~/scripts/bootstrap/bootstrap.js"></script>
    <script src="~/scripts/scripts.js"></script>
    <script src="~/scripts/angular/angular.js"></script>
    <script src="~/scripts/angular/angular-ui-module.js"></script>
    <script src="~/scripts/angular/angular-ui-router.js"></script>
    <script src="~/scripts/angular/angular-sanitize.js"></script>
    <script src="~/scripts/angular/angular-translate.js"></script>
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/waypoints.min.js"></script>
    <script src="~/scripts/bootstrap/ui-bootstrap-tpls-2.1.3.min.js"></script>

    @*<script src="~/lib/Content/concatCss.min.js"></script>*@
    @*<script src="~/lib/scripts/concatJs.min.js"></script>*@
    @*<script src="~/lib/scripts/concatJqueryJs.min.js"></script>
    <script src="~/lib/scripts/concatBsJs.min.js"></script>
    <script src="~/lib/scripts/concatAngularJs.min.js"></script>
    <script src="~/lib/scripts/concatOtherJs.min.js"></script>*@

    <script src="~/scripts/modules/app.js"></script>
    <script src="~/scripts/controllers/homeController.js"></script>
    <script src="~/scripts/controllers/navbarController.js"></script>
    <script src="~/scripts/controllers/mainController.js"></script>
    <script src="~/scripts/controllers/insurantsController.js"></script>
    <script src="~/scripts/services/riskService.js"></script>
    <script src="~/scripts/services/translateService.js"></script>

</body>
</html>