<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-ui-module.js"></script>
    <script src="~/scripts/angular-ui-router.js"></script>

    <script src="~/scripts/modules/app.js"></script>
    <script src="~/scripts/controllers/homeController.js"></script>
    <script src="~/scripts/controllers/mainController.js"></script>
    <script src="~/scripts/services/riskService.js"></script>
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home">Home Page</a>
                <a ui-sref="insurance">Insurance</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    

    <div class="container body-content">
        @RenderBody()
    </div>

   
</body>
</html>