
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @*<link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link id="css-preset" href="~/Content/presets/preset1.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">*@
    <base href="/">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid" ng-controller="NavbarController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CareTravel</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="changeCurrentLanguage('en')" href="" translate="english"></a></li>
                    <li><a ng-click="changeCurrentLanguage('sr')" href="" translate="serbian"></a></li>
                </ul>
            </div>
        </div>
    </nav>
<div>
    @RenderBody()
</div>

    <!-- build:js -->
    <script src="../scripts/jquery/jquery.js"></script>
    <script src="../scripts/jquery/jquery.fancybox.pack.js"></script>
    <script src="../scripts/jquery/jquery.flexslider.js"></script>

    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular/angular-ui-router.js"></script>
    <script src="../scripts/angular/angular-resource.js"></script>
    <script src="../scripts/angular/angular-sanitize.js"></script>
    <script src="../scripts/angular/angular-translate.js"></script>
    <script src="../scripts/bootstrap/bootstrap.js"></script>
    <script src="../scripts/bootstrap/ui-bootstrap-tpls.js"></script>
   
    <script src="../scripts/modules/app.js"></script>
    <script src="../scripts/controllers/homeController.js"></script>
    <script src="../scripts/controllers/navbarController.js"></script>
    <script src="../scripts/controllers/mainController.js"></script>
    <script src="../scripts/controllers/paymentController.js"></script>
    <script src="../scripts/services/paypalService.js"></script>
    <script src="../scripts/services/riskService.js"></script>
    <script src="../scripts/services/translateService.js"></script>
    <script src="../scripts/services/purchaseService.js"></script>
    <!-- endbuild -->

</body>
</html>